.header-banner {
    min-height: 764px;
    background-image: url(../img/banner-background.png);
    background-color: #f1e4e6;
    background-repeat: no-repeat;
    background-position: -20px bottom;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;

    &-txt {
        max-width: 377px;
        margin: 0 100px 90px 0;
        position: relative;
        text-transform: uppercase;

        &::before {
            content: "";
            display: block;
            width: 12px;
            height: 92px;
            background-color: #f16d7f;
            position: absolute;
            top: 0;
            left: -28px;
        }

        &-title {
            display: block;
            width: 100%;
            font-weight: 900;
            font-size: 48px;
            line-height: 57.6px;
            color: #222222;
        }

        &-subtitle {
            font-weight: 500;
            display: block;
            font-size: 32px;
            line-height: 38.4px;

            & span {
                color: #f16d7f;
            }
        }
    }

}